<div class="content">
    <h2>Party</h2>
    <div class="patient-details">
        <div class="party-info">
            <strong>Party reason</strong> {{PartyReason}}
        </div>
        <div class="party-info">
            <strong>Date:</strong> {{ReasonDate}}
        </div>
    </div>
    <!-- <p>
        We are pleased to confirm your appointment at our hospital. Please arrive on time and bring any relevant medical records or identification as needed.
    </p>
    <p>
        If you have any questions or need to reschedule, please contact our hospital reception at 0000000.
    </p>
    <p>
        We look forward to providing you with the best possible care.
    </p> -->
 </div>